<!--JOBS-->
    <div class="row">

        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-caption">
                        <div class="kt-portlet__head-title">
                            <span class="kt-portlet__head-icon kt-hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-text">
                                <i class="fas fa-tasks" style="margin:5px;"></i>
                                بيانات الوظائف
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form" [formGroup]="form1">
                    <div class="kt-portlet__body">
                        <div class="kt-form__section kt-form__section--first">
                            <div class="form-group kt-form__group row">


                                <b class="col-lg-3 col-form-label">مسلسل:</b>
                                <div class="col-lg-6 example-container">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="job_id" formControlName="job_id"  matInput placeholder="" >

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group kt-form__group row">
                                <b class="col-lg-3 col-form-label">أسم الوظيفه:</b>
                                <div class="col-lg-6 example-container">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="job_name" pattern="^[أ-ي-a-zA-Z-_. ]{1,200}"
                                               required matInput formControlName="job_name" placeholder="أدخل اسم الوظيفه">
                                        <mat-hint align="start">من فضلك أدخل اسم الوظيفه</mat-hint>
                                        <mat-error *ngIf="
        form1.controls.job_name.hasError('required') &&
        (form1.controls.job_name.dirty || form1.controls.job_name.touched)
      ">
                                            ادخل اسم الوظيفه المكون من حروف فقط
                                        </mat-error>
                                        <mat-error *ngIf="
        form1.controls.job_name.hasError('pattern') &&
        (form1.controls.job_name.dirty || form1.controls.job_name.touched)
      ">
                                            ادخل اسم الوظيفه المكون من حروف فقط
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group kt-form__group row">

                                <b class="col-lg-3 col-form-label">وصف\ملاحظات:</b>
                                <div class="col-lg-6 example-container">
                                    <mat-form-field class="example-full-width">
                                        <textarea [(ngModel)]="job_desc" formControlName="job_desc" pattern="^[أ-ي-a-zA-Z0-9-_.@_#!?^%$ ]{1,200}"
                                                   matInput placeholder="أدخل الوصف" type="email"></textarea>
                                        <mat-hint align="start">من فضلك ادخل الوصف</mat-hint>
                             
                                        <mat-error *ngIf="
        form1.controls.job_desc.hasError('pattern') &&
        (form1.controls.job_desc.dirty || form1.controls.job_desc.touched)
      ">
                                            ادخل وصف الوظيفه المكون من حروف فقط
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-caption">
                        <div class="kt-portlet__head-title">
                            <span class="kt-portlet__head-icon kt-hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-text">
                                استكمال بيانات الوظائف
                            </h3>
                        </div>
                    </div>
                </div>
              
                <form class="kt-form" [formGroup]="form1">
                    <div class="kt-portlet__body">
                        <div class="kt-form__section kt-form__section--first">



                
                            <div class="kt-form__group kt-form__group--last form-group row">
                                <b class="col-lg-3 col-form-label">الصلاحيات:</b>
                                <div class="col-lg-6 example-container">
                                    <div class="kt-checkbox-list">
                                        <p style="float:right;margin:5px;">
                                            <mat-checkbox [(ngModel)]="in_class_priv" [ngModelOptions]="{standalone: true}" id="side_job_chck" (change)="side_jobclass_chck_change($event)">داخل الصف</mat-checkbox>
                                        </p>
                                        <p style="float:right;margin:5px;">
                                            <mat-checkbox id="dep_work" [(ngModel)]="dep_work" [ngModelOptions]="{standalone: true}" (change)="side_jobwork_chck_change($event)">أعمال القسم</mat-checkbox>
                                        </p>

                                    </div>

                                </div>
                                </div>
                           
                            <div class="kt-form__group kt-form__group--last form-group row">
                                <div class="col-lg-3 example-container">
                                    <!--<mat-selection-list #shoes>
                        <mat-list-option *ngFor="let shoe of typesOfShoes" >
                            {{shoe}}
                        </mat-list-option>
                    </mat-selection-list>-->

                                    <div *ngFor="let privs of newArray; let i=index" class="kt-checkbox-list">
                                        <label>
                                            <input type="checkbox" [checked]="(privs.checked)" [value]="privs.priv_id" (change)="onCheckChange($event)">
                                            {{privs.priv_name}}
                                        </label>
                                    </div>

                                </div>
                            </div>
</div>
                    
                    </div>

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions">
                            <div class="row">

                                <div class="col-lg-6">
                                    <button id="save_btn" type="button" (click)="add_jobs()" mat-raised-button color="accent">حفظ</button>&nbsp;
                                    <button id="update_btn" type="button" (click)="update_jobs()" mat-raised-button color="accent">تعديل</button>&nbsp;
                                    <button id="cancel_btn" type="button" (click)="cancel_jobs()" mat-raised-button color="accent">الغاء</button>&nbsp;
                                    <button mat-raised-button type="reset">حذف</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
 
            </div>
        </div>
    </div>
                            <kt-master_jobs-list></kt-master_jobs-list>
                            <!--End Jobs Form-->
