<!--Departments Data-->

<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            بيانات القسم
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">مسلسل:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="" [(ngModel)]="visit_type_id" name="visit_types_id" disabled="disabled">

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">أسم نوع الزياره:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="visit_types_name"  [ngModelOptions]="{standalone: true}" matInput>
                                    <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_visit_date" (change)="is_visit_date_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="visit_date" id="visit_date_id"  [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_phone" (change)="is_phone_chck_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="phone_label" id="is_phone_id"  [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_start_time" (change)="is_start_time_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="start_time_label" id="is_start_time_id"   [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_end_time" (change)="is_end_time_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="end_time_label" id="is_end_time_id"   [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_name" (change)="is_name_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="name_label" id="is_name_id"  [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_topic" (change)="is_topic_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="topic_label" id="is_topic_id"  [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_instructions" (change)="is_instructions_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="instructions_label" id="is_instructions_id"  [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_job" (change)="is_job_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="job_label"  id="is_job_id"   [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_notes" (change)="is_notes_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="notes_label"  id="is_notes_id"   [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_dep" (change)="is_dep_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="dep_label" id="is_dep_id"  [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="kt-form__group kt-form__group--last form-group row">
                            <label class="col-lg-2 col-form-label">

                            </label>
                            <p style="float:right;">
                                <mat-checkbox id="is_vnote" (change)="is_vnote_change($event)" [checked]="dep_check">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="vnote_label"  id="is_vnote_id"  [ngModelOptions]="{standalone: true}" matInput>
                                        <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                    </mat-form-field>
                                </mat-checkbox>

                            </p>
                            <div class="col-lg-6">
                                <div class="kt-checkbox-list">
                                    <p style="float:right;">
                                        <mat-checkbox id="is_vpic" (change)="is_vpic_chck_change($event)" [checked]="dep_check">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="vpic_label" id="is_vpic_id"   [ngModelOptions]="{standalone: true}" matInput>
                                                <!--<mat-hint align="start">من فضلك ادخل القسم</mat-hint>-->
                                            </mat-form-field>
                                        </mat-checkbox>

                                    </p>

                                </div>

                            </div>

                        </div>




                    </div>



                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-form__actions">
                        <div class="row">

                            <div class="col-lg-6">
                                <button id="save_btn" (click)="add()" mat-raised-button color="primary">حفظ</button>&nbsp;
                                <button id="update_btn" (click)="update()" mat-raised-button color="primary">تعديل</button>&nbsp;
                                <button id="cancel_btn" (click)="cancel()" mat-raised-button color="primary">الغاء</button>&nbsp;
                                <!--<button mat-raised-button type="reset">حذف</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>

</div>

<!--<kt-visit_types-list></kt-visit_types-list>-->