<!-- begin:: Brand -->
	<div class="kt-aside__brand kt-grid__item" id="kt_aside_brand" [ngClass]="htmlClassService.getClasses('brand', true)">
        <div class="kt-aside__brand-logo">
            <a href="javascript:;" routerLink="/">
                <img alt="logo" id="site_logo" [attr.src]="headerLogo" style="width:50px ; height:50px;" />

            </a>
            <!--<img  id="logo_image"  style="width:50px ; height:50px;">-->
        </div>
		<!--<button id="save_btn" (click)="onImageConverted();" mat-raised-button color="primary">ÇÖÇÝÉ</button>&nbsp;-->
	</div>
<!-- end:: Brand -->
