<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">مدرستي</a>
		</div>
		<div class="kt-footer__menu">
			<a href="#" target="_blank" class="kt-footer__menu-link kt-link"><i class="fa fa-info-circle" style="margin:5px;"></i>عن مدرستي</a>
			<a href="#" target="_blank" class="kt-footer__menu-link kt-link"><i class="fa fa-users" style="margin:5px;"></i> فريق العمل</a>
			<a href="#" target="_blank" class="kt-footer__menu-link kt-link"><i class="fa fa-phone" style="margin:5px;"></i>اتصل بنا</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->
