// import login css
@import "sass/pages/login/login-1";
#hat,
#book,
#tick {
	animation: show 2s;
}

.box h3 {
	font-weight: 300;
	color: #444444;
}

.box-title {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	color: #01718d;
	padding: 10px 0;
	float:right;
}

.box {
	font-size: 1.5em;
	background-color: #fff;
	position: relative;
	margin: 30px auto;
	padding: 5px 20px;
	border-left: 3px solid #01718d;
	width: 450px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.article-title {
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 15px;
}

.imagelogin {
	/* the magic */
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	-webkit-border-radius: 180px;
	-moz-border-radius: 180px;
	-ms-border-radius: 180px;
	-o-border-radius: 180px;
	border-radius: 180px;
	/* the rest */
	position: relative; /* for the overlay later */
	margin: 0px auto;
	text-align: center;
	margin-bottom: 10px;
	border: 3px solid #FFF;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.loginlogo {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	/* make resized images look good in IE */
	-ms-interpolation-mode: bicubic;
}


/* here's a hover overlay, in case you want that */
.imagelogin span {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #888;
	background: rgba(0,0,0,.5);
	color: #fff;
	padding: 3em 1em 0;
}

.imagelogin:hover span {
	display: block;
}



.leaf {
	opacity: 0;
	animation: move 2s ease-in-out normal infinite;
}

#leaf-1 {
	animation-delay: 1s;
}

#leaf-2 {
	animation-delay: 1.15s;
}

#leaf-3 {
	animation-delay: 1.65s;
}

#leaf-4 {
	animation-delay: 1.25s;
}

#leaf-5 {
	animation-delay: 1.5s;
}

#leaf-6 {
	animation-delay: 1.75s;
}

#leaf-7 {
	animation-delay: 2s;
}

#leaf-8 {
	animation-delay: 2.25s;
}

#leaf-9 {
	animation-delay: 2.5s;
}

#leaf-10 {
	animation-delay: 2.75s;
}

#leaf-11 {
	animation-delay: 3s;
}

#leaf-12 {
	animation-delay: 3.25s;
}

#leaf-13 {
	animation-delay: 3.5s;
}

#leaf-14 {
	animation-delay: 3.75s;
}

#leaf-15 {
	animation-delay: 4s;
}

@keyframes move {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.ticker a{
	color:#000;
}


kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}
	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}
